html {
    background: linear-gradient(325deg, #670909, #aa1d1d, #ff0000, #ff8383);
    background-size: 600% 600%;
    animation: AnimationName 10s ease infinite;
    width: 100vw;
    min-height: 100vh;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


body {
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding: 25px;
}

header {
    color: black;
    font-size: 24px;
    height: 800px;
    padding-top: 200px;
}  

h1 {
    color: white;
    font-size: 100px;
    font-weight: bolder;
    cursor: pointer;
}

h2 {
    color: black;
    font-size: 50px;
    font-weight: bolder;
}

.input{
    width: 50%;
    margin-right:10px;
    margin-bottom: 10px;
}

.searchBar {
    margin: 25px;
    align-items: center;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 2.5rem;
}

.loadingPage{
    padding-top: 200px;
}

.loadingPage img{
    width: 15%;
}

#favoriteGifs {
    color: white;
    background-color: rgb(99,0,0);
    border: none;
    font-weight: bold;
    margin: 15px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
}

#favoriteGifs:hover {
    color: rgb(99,0,0);
    background-color: white;
}

.characterPage {
    padding: 25px;
}

.card {
    text-align: left;
    margin: auto;
    margin-top: -30px;
}

#characterImage {
    max-height: 300px;
    width: auto;
}

#marvelAttribution {
    position: absolute;
    bottom: 15px;
    right: 25px;
}

img{
    margin: 10px;
}

.gifs {
    text-align: center;
}

.gifs img:hover, .favoriteGifsPage img:hover {
    transform: scale(1.25);
    border: 15px ridge #ba0909;
    box-shadow: 6px 7px 19px 15px white;
}

.modal {
    color: black;
    text-align: center;
}

.modal-card-foot {
    justify-content: center;
}

.modal-card-foot button {
    width: 50%;
    font-weight: bold;
}

#footer {
    text-align: right;
    position: relative;
    bottom: 0px;
    padding: 10px 50px 50px 10px;
    height: 2.5rem;
}

@media screen and (max-width: 767px) {
    #footer img {
        position: relative;
        bottom: -10px;
        max-width: 75%;
        max-height: 75%;
        height: auto;
        width: auto;

    }
    #marvelAttribution {
        font-size: 75%;
    }
}