html {
    background-color: red;
}

body {
    font-family: 'Anton', sans-serif;
    text-align: center;
}

header {
    color: black;
    font-size: 24px;
    height: 800px;
    padding-top: 200px;
}  

h1 {
    color: white;
    font-size: 100px;
    font-weight: bolder;
    cursor: pointer;
}

h2 {
    color: black;
    font-size: 50px;
    font-weight: bolder;
}

.input{
    width: 50%;
    margin-right:10px;
    margin-bottom: 10px;
}

.searchBar {
    margin: 25px;
    align-items: center;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 2.5rem;
}

#favoriteGifs {
    color: white;
    background-color: red;
    border: none;
    font-weight: bold;
    margin: 15px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
}

#favoriteGifs:hover {
    color: red;
    background-color: white;
}

.characterPage {
    padding: 25px;
}

.card {
    text-align: left;
    margin: auto;
    margin-top: -30px;
}

#characterImage {
    max-height: 300px;
    width: auto;
}

.gifs {
    text-align: center;
}

.gifs img {
    transition: transform .2s;
}

.gifs img:hover, .favoriteGifsPage img:hover {
    transform: scale(1.25);
    border: 15px ridge #ba0909;
    box-shadow: 6px 7px 19px 15px white;
}

.modal {
    color: black;
    text-align: center;
}

.modal-card-foot {
    justify-content: space-between;
}

.modal-card-foot button {
    width: 45%;
    font-weight: bold;
}