/* entire page background animated infinitely */
html {
    background: linear-gradient(225deg, #000000, #a6a6a6, #b50000, #740000, #8b0000, #000000);
    background-size: 400% 400%;
    animation: ombre 10s ease infinite;
    width: 100vw;
    min-height: 100vh;
}

/* page gradient animation */
@keyframes ombre {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* define application font and alignment */
body {
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding: 25px;
}

header {
    color: black;
    font-size: 24px;
    height: 800px;
    padding-top: 200px;
}  

/* headings styles */
h1 {
    color: white;
    font-size: 100px;
    font-weight: bolder;
    cursor: pointer;
}

h2 {
    color: black;
    font-size: 50px;
    font-weight: bolder;
}

/* search input width and alignment */
.input{
    width: 50%;
    margin-right:10px;
    margin-bottom: 10px;
}

.searchBar {
    margin: 25px;
    align-items: center;
}

/* giphy attribution */
footer {
    text-align: right;
    position: relative;
    bottom: 0px;
    padding: 20px 20px 50px 10px;
    height: 2.5rem;
}

/* loading page styles */
.loadingPage{
    padding-top: 150px;
}

.loadingPage img{
    width: 15%;
    margin: 25px;
}

/* progress bar and info styles */
.progress {
    width: 50%;
    margin: 0 auto;
}

#loadingProgress {
    color: white;
    font-size: 20px;
    margin: 20px;
}

/* MY FAVORITE GIFS button style */
#favoriteGifs {
    color: white;
    background-color: #740000;
    border: none;
    font-weight: bold;
    margin: 15px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
}

#favoriteGifs:hover {
    color: #740000;
    background-color: white;
}

/* character page and card styles */
.characterPage {
    padding: 25px;
}

.card {
    text-align: left;
    margin: auto;
    margin-top: -30px;
}

#characterImage {
    max-height: 300px;
    width: auto;
}

#marvelAttribution {
    position: absolute;
    bottom: 15px;
    right: 25px;
}

/* GIFs styles */
.gifs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* favorite items star */
.starItem {
    width: 25px;
    position: relative;
    top: -165px;
    left: -55px;
}

/* GIFs hover transforms */
.gifGroup:hover {
    z-index: 1;
}

.gifItem:hover {
    transform: scale(1.25);
    outline: 15px ridge #ba0909;
    box-shadow: 6px 7px 19px 15px white;
}

.gifItem:hover + .starItem {
    transform: scale(2);
    top: -185px;
    left: -25px;
}

/* modal styles */
.modal {
    color: black;
    text-align: center;
}

.modal-card-body {
    font-size: 20px;
    font-weight: lighter;
}

.modal-card-foot {
    justify-content: center;
}

.modal-card-foot button {
    width: 50%;
    font-weight: bold;
}